@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #c1e9fe, rgba(255, 255, 255, 0.0001) 58.49%);
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    min-width: 300px;
    max-width: 1440px;
    margin: 0 auto;
}

$text-color: #71747A