@import "./config";

header {
  margin: 16px 0;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: auto;
  height: auto;
}

.header__logo i {
  font-size: 28px;
}

.header__nav {
  margin: 49px 0;
  text-align: center;
  display: none;
}

.header__nav.visible {
  display: block;
}

.header__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__item a {
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 2.7rem;
  color: $text-color;
}

.about {
  margin: 90px 0;
}

.about__paragraph h1 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #27292d;
  width: 27rem;
}

.about__paragraph p {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #27292d;
  margin: 20px 0;
}

.about__paragraph a span {
  @extend %iconSpan;
}

.about__paragraph a span i {
  color: #000;
  margin-right: 18px;
  padding: 0.5px 4px;
  border: 1px solid black;
  border-radius: 50%;
}

.about__icons {
  margin-top: 42px;
}

.about__icons a i {
  color: #000;
  font-weight: 100;
  font-size: 35px;
  margin-right: 22px;
}

.about__image {
  width: 100%;
  height: auto;
  margin: 75px 0;
}

.about__image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.work {
  padding-bottom: 90px;
}

.work__paragraph h2 {
  font-weight: 300;
  font-size: 8rem;
  line-height: 10rem;
  color: #27292d;
}

.work__paragraph b {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #27292d;
}

.work__paragraph p {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #27292d;
  margin-top: 64px;
  margin-bottom: 30px;
}

.work__paragraph a span {
  @extend %iconSpan;
}

.work__paragraph a span i {
  color: #000;
  margin-right: 18px;
  padding: 0.5px 4px;
  border: 1px solid black;
  border-radius: 50%;
}

.work__image {
  width: 100%;
  height: auto;
  margin: 75px 0;
}

.work__image img {
  width: 100%;
  height: auto;
}

.portfolio {
  margin-top: 80px;
  background-color: #fff;
}

.portfolio .container div:last-child {
  margin-bottom: 0;
}

.portfolio__h2 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 14rem;
  color: #27292d;
}

.portfolio__image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.portfolio__image img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.contact {
  padding: 50px 0;
  background-color: #fff;
  position: relative;
}

.contact .container {
  max-width: 750px;
  margin: 0 auto;
}

.contact__h2 {
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 5.6rem;
  color: #27292d;
}

.contact__h2 span {
  font-weight: 700;
}

.contact_p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 2px;
  color: #7d92ee;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.contact form textarea {
  width: 90%;
  max-width: 748px;
  background: rgba(248, 248, 248, 0.72);
  border: none;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  color: #71747a;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #71747a;
  }

  &:focus {
    outline: none;
  }
}

.contact__submit input {
  background: rgba(248, 248, 248, 0.72);
  border: 0;
  border-radius: 10px;
  color: #71747a;
  padding: 17px;
  width: 100%;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.contact__submit input:focus {
  outline: none;
}

.contact__submit input::placeholder {
  color: #71747a;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.contact__submit button {
  background: #d47dee;
  border: 0;
  border-radius: 16px;
  color: white;
  padding: 19px 40px;
  position: absolute;
  left: 90%;
  top: 0;
  font-family: "Poppins", sans-serif;
}

.contact__submit {
  position: relative;
  display: inline-block;
  width: 60%;
  max-width: 748px;
}

footer {
  background-color: #fff;
}

footer h4 {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  padding: 30px 0 20px 0;
}

@import "./tablet";
@import "./pcscreen";
@import "./extrapcscreen";
